.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 20px;
    width: 80px; 
    transition: width 0.3s ease;
}

.sidebar.extended {
    width: 250px; 
}


.sidebar p {
    margin: 0;
    line-height: 1;
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    display: block;
    margin-left: 15px;
    cursor: pointer;
}

.sidebar .new-chat {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 25px;
}

.sidebar .recent-entry {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 20px;
    padding-right: 45px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar .recent-entry:hover {
    background-color: #e2e6eb;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sidebar .bottom-item {
    padding: 12px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
